.container{
    display: flex;
    text-align: center;
}

.sidelogo{    
    width: 30%;
    height: 15%;  
}

.header_text1{
    text-align:left ;
    font-size: 14px;

}

.nav{
    text-align: center;
}

.nav a{
   margin-right: 20px;
}

#timing{
    font-size: 40px;
}

#location{
    font-size: 40px;
}
